cycler==0.10.0
decorator==4.3.0
kiwisolver==1.0.1
matplotlib==3.0.2
networkx==2.2
numpy==1.15.4
opencv-python==3.4.3.18
Pillow==5.3.0
prettytable==0.7.2
pyparsing==2.3.0
python-dateutil==2.7.5
PyWavelets==1.0.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.28.1
